{{#view Todos.CreateTagView}}
	<input  id="new-tag" {{bindAttr name="title"}} type="text" />
{{/view}}
{{#collection SC.TemplateCollectionView contentBinding="Todos.tagsController" }}
	{{#view Todos.TagsListView}}
		{{name}}	{{#view Todos.DeleteTag class="right"}} <span {{bindAttr id="name"}}>Delete</span> {{/view}}
	{{/view}}
{{/collection}}
